@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    /* font size */
    --font-size-small: 32px;
    --font-size-medium: 36px;
    --font-size-large: 48px;
    /* colors */
    --color-bg: #DDFFBB;
    --color-light: #C7E9B0;
    --color-medium: #B3C99C;
    --color-dark: #A4BC92;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}


.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    perspective: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 15px;
}

.container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: -10;
    font-size: var(--font-size-medium);
}


.loginpage {
    max-width: 400px;
    position: absolute;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: -5;
}

.loginpage h2 {
    margin-bottom: 20px;
}

.loginpage input[type="text"],
.loginpage input[type="password"],
.loginpage input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginpage input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.loginpage input[type="submit"]:hover {
    background-color: #45a049;
}

/*registration page */
.register {
    max-width: 400px;
    position: absolute;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: -8;
}

.register h2 {
    margin-bottom: 20px;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.register input[type="submit"]:hover {
    background-color: #45a049;
}

/* todo list */

.todo-input {
    width: 600px;
    position: absolute;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.todo-input input {
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
}